<a href="https://colab.research.google.com/github/Bilal-Subhopoto/DataEngineering/blob/main/Bilal/MongoDB/MongoDB_insert_element_in_nested_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pymongo import MongoClient
myclient = MongoClient("mongodb://43.251.253.107:1600/")
mydb = myclient.Nested_Array
mycol = mydb.nested

In [4]:
mycol.insert_one({
   "_id": "1234",
   "company": {
     "name": "MongoDB",
     "employees": []
   }
})

In [5]:
mycol.update_one({ "_id": "123" },{ "$push": { "company.employees": { "firstname": "Maxime", "surname": "Beugnet", "role": "Senior Developer Advocate" }}})

In [6]:
mycol.find_one()

{'_id': '123',
 'company': {'employees': [{'firstname': 'Maxime',
    'role': 'Senior Developer Advocate',
    'surname': 'Beugnet'},
   {'firstname': 'Maxime',
    'role': 'Senior Developer Advocate',
    'surname': 'Beugnet'}],
  'name': 'MongoDB'}}

In [ ]:
from pymongo import MongoClient
myclient = MongoClient("mongodb://43.251.253.107:1600/")
mydb = myclient.FB_scraper_MT2
mycol = mydb.Allposts

In [ ]:
from bson.objectid import ObjectId#to find type of fields in mongoDB collection
for i in mycol.find_one({"_id" : ObjectId("61f14288e416ac412f18440b")}):
  print(i," ",type(mycol.find_one({"_id" : ObjectId("61f14288e416ac412f18440b")},[i])[i]))

_id   <class 'bson.objectid.ObjectId'>
DomainName   <class 'str'>
pageName   <class 'str'>
comments   <class 'int'>
link   <class 'str'>
likes   <class 'int'>
images   <class 'list'>
shared_time   <class 'NoneType'>
text   <class 'str'>
post_id   <class 'str'>
reactions   <class 'NoneType'>
shares   <class 'int'>
user_id   <class 'str'>
time   <class 'datetime.datetime'>
timestamp   <class 'int'>
TimeDownload   <class 'datetime.datetime'>